
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Navbar styling */
.navbar {
  background-color: white;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 22px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: goldenrod;
}

  /*home page styling*/
  #home {
    background-image: url('/Images/Home-page.webp'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-content {
    text-align: center;
    color: #F4C542;
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .subtitle {
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .introduction {
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
  }
  
  #btn {
    padding: 10px 20px;
    color: black;
    border: 2px solid goldenrod;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
  }
  
  #btn:hover {
    background-color: goldenrod;
    color: white;
  }

  /*about page styling*/
  #about{
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  h1 {
    color: goldenrod;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
  }
  
  .text-content h2 {
    font-size: 24px;
    color: #333;
  }
  
  .text-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  .image-content {
    flex: 1;
    padding: 10px;
  }
  
  .image-content img {
    width: 50%;
    border-radius: 8px;
  }
  
  .team-section {
    margin-top: 40px;
    padding: 20px;
  }
  
  .team-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: goldenrod;
  }
  
  .team-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .team-member {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 15px;
  }
  
  .team-member h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .team-member p {
    font-size: 16px;
    color: #666;
  }

  /*services page styling*/
h1 {
  text-align: center;
  color: #d4a017;
  margin-top: 40px;
  font-size: 2.5em;
}

.intro-text {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin: 10px auto 40px;
  max-width: 700px;
  line-height: 1.6;
}

#services{
  padding: 20px 10%;
  background-color: #f7f7f7;
  color: #333;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.service-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 48%;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-info {
  padding: 15px;
  text-align: center;
}

.service-info h2 {
  color: #d4a017;
  margin-bottom: 10px;
  font-size: 1.6em;
}

.service-info p {
  font-size: 1em;
  color: gray;
  line-height: 1.6;
}

/*gallery page styling*/
h1 {
  text-align: center;
  color: #d4a017;
  margin-top: 40px;
  font-size: 2.5em;
}

.intro-text {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin: 10px auto 40px;
  max-width: 700px;
  line-height: 1.6;
}

#gallery {
  background-color: white;
  color: #333;
  padding: 20px 10%;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.gallery-item {
  width: 48%;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-description {
  padding: 10px;
  text-align: center;
}

.image-description p {
  font-size: 1em;
  color: gray;
  margin: 0;
}

/*contact page styling*/
  #contact{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f7f7f7;
  background-image: url(Images/Homepage.jpeg);
  background-size: cover;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.contact-form {
  flex: 1;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: goldenrod;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
 
/*footer styling*/
footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
}

  /* Responsive*/
  @media (max-width: 370px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    .logo {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .nav-links {
      flex-direction: column;
      width: 100%;
    }
    .nav-links li {
      margin: 10px 0;
    }
    .nav-links a {
      font-size: 16px;
    }
  }
   @media (max-width: 468px) {
    .logo {
      font-size: 4px;
      font-weight: lighter;
    }
    .nav-links li {
      margin: 0 2px;
    } 
    .nav-links a {
      font-size: 2px;
    }
    .navbar {
      padding: 10px 0px;
      justify-content: none;
    }
    h1 {
      font-size: 28px;
    }
    .subtitle {
      font-size: 18px;
    }
    .introduction {
      font-size: 12px;
    }
  }
  
   @media screen and (max-width: 768px) {
    .logo {
      font-size: 22px;
    }
    .nav-links li {
      margin: 0 5px;
    } 
    .nav-links a {
      font-size: 14px;
    }
    h1 {
      font-size: 36px;
    }
    .subtitle {
      font-size: 20px;
    }
    .introduction {
      font-size: 14px;
    }
    .content-block {
      flex-direction: column;
    }
    .team-container {
      flex-direction: column;
    }
    .team-member {
      margin-bottom: 20px;
    }
    .service-item {
      width: 100%;
    }
    .gallery-item {
      width: 100%;
    }
  }
